.logoutmodal{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.800);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.logoutmodal_main{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 450px;
}

.logoutmodal_body{
    padding: 20px;
    background-color: rgb(37, 33, 40);
    display: flex;
    flex-direction: column;
}

.body_header{
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.body_text{
    font-size: 16px;
    color: rgb(174, 166, 166);
    height: 100px;
}

.logoutmodal_buttons{
    padding: 10px;
    background-color: rgb(26, 24, 26);
    display: flex;
    justify-content: flex-end;
}

.logoutmodal_button{
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}

.cancel{
    background-color: transparent;
}

.logout{
    background-color: #f04747;
}

.cancel:hover{
    cursor: pointer;
    text-decoration: underline;
}

.logout:hover{
    cursor: pointer;
    background-color: #f33030;
}

