div.all-view{
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
}

div.all-view-header{
    padding: 10px;
    color: rgb(174, 166, 166);
    font-size: 12px;
    font-weight: 800;
}

div.all-view-list{
    display: flex;
    justify-content: space-between;
}

div.all-view-list{
    display: flex;
    flex-direction: column;
}

div.all-view-list-field{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
}

div.all-view-list-field:hover{
    cursor: pointer;
    background-color:rgb(45, 41, 48);
}

div.all-field-west{
    display: flex;
}

div.all-field-west-perfil{
    position: relative;
}

img.all-field-west-perfil-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(24, 22, 22);
}

div.all-field-west-perfil-on{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(37, 33, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.all-field-west-perfil-on-2{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.all-field-west-perfil-on-3{
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

div.all-field-west-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

div.all-field-west-info-names{
    display: flex;
}

span.all-field-west-info-name{
    font-size: 15px;
    font-weight: 600;
    color: white;
}

span.all-field-west-info-code{
    font-size: 15px;
    color: rgb(174, 166, 166);
    display: none;
}

div.all-field-west-info-message{
    font-size: 14px;
    color: rgb(174, 166, 166);
}

div.all-field-east{
    display: flex;
    justify-content: space-between;
}

div.all-field-east{
    display: flex;
    align-items: center;
}

a.all-field-east-option, div.all-field-east-option{
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgb(26, 24, 26);
    color: rgb(174, 166, 166);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

a.all-field-east-option:hover, div.all-field-east-option:hover{
    background-color: rgb(18, 16, 19);
}

a.all-field-east-option > svg, div.all-field-east-option > svg{
    font-size: 16px;
}

div.all-field-east-more{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    width: 200px;
    height: auto;
    background-color: rgb(11, 10, 10);
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
    z-index: 3;
}

div.all-field-east-more-option{
    padding: 5px;
    border-radius: 2px;
}

div.all-field-east-more-option.start:hover{
    background-color: rgb(105, 30, 181);
    color: white;
}

div.all-field-east-more-option.remove{
    color: #f04747;
}

div.all-field-east-more-option.remove:hover{
    color: white;
    background-color: #f04747;
}


.Online{
    background-color: rgb(67, 181, 129);
}

.Idle{
    background-color: orange;
}

.DND{
    background-color: red;
}

.Invisible, div.Offline{
    background-color: gray;
}