div.config-accSec{
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    margin: 0 40px;
    padding: 30px 0;
    display: flex;
}

div.config-accSec-left{
    display: flex;
    flex-direction: column;
}

div.config-accSec-left-header{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

button.config-accSec-left-button{
    margin: 25px 0;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7289da;
    color: white;
    border: none;
    font-size: 14px;
}

button.config-accSec-left-button:hover, button.config-accSec-left-twoF-button:hover{
    cursor: pointer;
    background-color: #627cda;
}

div.config-accSec-left-twoF{
    display: flex;
    flex-direction: column;
    color: rgb(174, 166, 166);

}

div.config-accSec-left-twoF-header{
    font-weight: 600;
    font-size: 12px;

}

div.config-accSec-left-twoF > p{
    font-size: 14px;
    margin: 10px 0;
    font-weight: 400;
}

button.config-accSec-left-twoF-button{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7289da;
    color: white;
    border: none;
    font-size: 14px;
}

div.config-accSec-right{
    min-width: 200px;
    width: 200px;
    height: 100%;
    display: flex;
    align-self: flex-end;
}

img.config-accSec-right-img{
    width: 200px;
}

div.modal-changePassword{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

form.changePassword-body{
    border-radius: 10px;
}

div.changePassword-body-main{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(37, 33, 40);
    position: relative;
    border-radius: 5px 5px 0 0;
}

div.changePassword-body-main-exit{
    position: absolute;
    right: 15px;
    top: 10px;
    color: rgb(174, 166, 166);
    font-size: 22px;
    font-weight: 900;
}

div.changePassword-body-main-exit:hover{
    color: white;
    cursor: pointer;
}

div.changePassword-body-main-header{
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}

div.changePassword-body-main-subHeader{
    color: rgb(174, 166, 166);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

div.changePassword-body-main-field{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

div.changePassword-body-main-field > label{
    color: rgb(174, 166, 166);
    padding: 5px 0;
    font-weight: 900;
    font-size: 11px;
}

div.changePassword-body-main-field > label > span{
    margin-left: 10px;
    color: #f13636;
    display: none;
}

input.changePassword-body-main-field-password{
    background-color: rgb(26, 24, 26);
    border: none;
    border-radius: 3px;
    padding: 10px;
    min-width: 400px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

div.changePassword-body-buttons{
    background-color: rgb(26, 24, 26);
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border-radius: 0 0 5px 5px;
}

button.changePassword-body-button{
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 10px;
    color: white;
}

button.changePassword-body-button.cancel{
    background-color: transparent;
}

button.changePassword-body-button.cancel:hover{
    cursor: pointer;
    text-decoration: underline;
}

button.changePassword-body-button.done{
    background-color: #7289da;
}

button.changePassword-body-button.done:hover{
    background-color: #627cda;
    cursor: pointer;
}