div.Social{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    background-color: rgb(26, 24, 26);
    min-width: 230px;
    width: 230px;
    font-family: 'Open Sans';
    position: relative;
}

form.social__search{
    padding: 10px;
    border-bottom: 1px solid rgb(11, 10, 10);
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

input.social__search--input{
    background-color: rgb(11, 10, 10);
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 13px;
    border-radius: 5px;
    width: 100%;
}

div.social__settings{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgb(11, 10, 10);
    background-color: rgb(18, 16, 19);
}

div.social__body-friends-icon-layer1{
    background-color: rgb(26, 24, 26);
}

div.social__settings--info--status-layer1{
    background-color: rgb(18, 16, 19);
}

div.social__settings--info--status-layer2, div.social__body-friends-icon-layer2{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(24, 22, 22);
    display: flex;
    margin: auto;
    align-self: center;

}

div.social__settings--info--status-layer3, div.social__body-friends-icon-layer3{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: rgb(59, 108, 182);
    margin: auto;
    display: flex;
    align-self: center;
}


/* social body */
div.social__body{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 65px;
    height: 100vh;
    width: 100%;
    padding: 10px 10px;
    overflow-y: auto;
}

ul.social__body--to_do{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    border-radius: 5px;
    font-family: 'Open Sans';

}

li.social__body--to_do-li{
    border-radius: 5px;
}

li.social__body--to_do-li:hover{
    background-color:   rgb(53, 49, 56);
}

a.social__body--to_do-link{
    text-decoration: none;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    color: rgb(174, 166, 166);
}

a.social__body--to_do-link > svg{
    font-size: 18px;
    margin-right: 15px;
    color: rgb(174, 166, 166);
}

a.social__body--to_do-link > span{
}

li.social__body--friends-li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: 800;
}

.social_body-friends-header{
    padding: 10px;
    color: rgb(174, 166, 166);
    font-size: 12px;
    font-weight: 600;
}

.social_body-friends-header:hover{
    color: white;
}

li.social__body--friends-li:hover{
    background-color: rgb(53, 49, 56);
    cursor: pointer;
}

div.social__delete-friend > svg{
    font-size: 20px;
    margin-right: 15px;
    color: rgb(174, 166, 166);
}

div.social__delete-friend > svg:hover{
    color: white;
}

div.social__delete-friend{
    display: none;
}

a.social__body--friends-link{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(174, 166, 166);
}

.social__body--friends-link > span{
    font-weight: normal;
    font-size: 16px;
}



div.Online{
    background-color: rgb(67, 181, 129);
}

div.Idle{
    background-color: orange;
}

div.DND{
    background-color: red;
}

div.Invisible, div.Offline{
    background-color: gray;
}