div.config-main-accInfo{
    padding: 60px 40px;
    padding-bottom: 30px;
}

div.accInfo-header{
    color: white;
    font-weight: 900;
    padding: 20px 0;
}

div.accInfo-main{
    background-color: rgb(26, 24, 26);
    border-radius: 10px;
    padding: 15px;
}

div.accInfo-main-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.accInfo-main-top-left{
    display: flex;
    align-items: center;
}

form.accInfo-main-top-left-imgDiv{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
    position: relative;
}

form.accInfo-main-top-left-imgDiv:hover{
    cursor: pointer;
}

form.accInfo-main-top-left-imgDiv > img{
    width: 100%;
    height: 100%;
    border-radius: 50%
}


div.accInfo-main-top-left-imgDiv-icon{
    position: absolute;
    top: 10px;
    right: 0;
    color: black;
    background-color: #dcddde;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.accInfo-main-top-left-name{
    font-size: 18px;
    font-weight: 900;
    color: white;
    padding-left: 10px;
}

div.accInfo-main-top-right{
    color: rgb(174, 166, 166);
    font-size: 18px;
    padding-right: 15px;
}

div.accInfo-main-top-right:hover{
    cursor: pointer;
}

div.accInfo-main-bottom{
    background-color: rgb(37, 33, 40);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

div.accInfo-main-bottom-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

div.acInfo-main-bot-left-top{
    color: rgb(174, 166, 166);
    font-size: 12px;
}

div.accInfo-main-bot-left-bot{
    font-size: 15px;
    color: white;
}

div.accInfo-main-bot-left-bot > span{
    color: gray;
}

div.accInfo-main-bot-right{
    padding: 5px 20px;
    background-color: #747f8d;
    color: white;
    border-radius: 3px;
}

div.accInfo-main-bot-right:hover{
    cursor: pointer;
    background-color: #7c828a;
}