.CallModal{
    background-color: rgba(0, 0, 0, 0.800);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    display:  none;
    justify-content: center;
    align-items: center;
}

.callmodal-main{
    padding: 15px 20px;
    background-color: rgb(18, 16, 19);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.callmodal-main > *{
    margin: 10px 0;
}

img.callmodal-main-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
}

.callmodal-main-text{
    display: flex;
    flex-direction: column;   
}

.callmodal-main-text-header{
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-align: center;
}

.callmodal-main-text-body{
    font-size: 16px;
    text-align: center;
    color: rgb(174, 166, 166);
}

.callmodal-main-buttons{
    display:  flex;
}

.callmodal-main-buttons > div{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.callmodal-main-button.decline{
    background-color: #f13636;
    color: white;
}

.callmodal-main-button.decline:hover{
    cursor: pointer;
}

.callmodal-main-button.accept{
    background-color: #627cda;
    color: white;
}

.callmodal-main-button.accept:hover{
    cursor: pointer;
}