
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body, .App, .root{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.App{
    display: flex;
    flex-wrap: nowrap;
}

.Online{
    background-color: rgb(67, 181, 129);
}

.Idle{
    background-color: orange;
}

.DND{
    background-color: red;
}

.Invisible, .Offline{
    background-color: gray;
}