div.RemoveFriend{
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(7, 7, 7, 0.712);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

div.removeFriends-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 33, 40);
    border-radius: 6px;
    width: 450px;
}

div.removeFriends-modal-header{
    color: white;
    font-size: 17px;
    font-weight: 900;
    padding: 20px;
}

div.removeFriends-modal-body{
    font-size: 14px;
    padding: 0 20px;
    color: rgb(194, 193, 193);
    margin-bottom: 30px;
}

div.removeFriends-modal-body > span{
    color: white;
    font-weight: 900;
}

div.removeFriends-modal-bottom{
    background-color: rgb(26, 24, 26);
    padding: 20px;
    display: flex;
    justify-content: right;
}

button.removeFriends-modal-bottom-cancel{
    background-color: transparent;
    border: none;
    color: white;
    padding: 0 30px;
    font-size: 13px;

}

button.removeFriends-modal-bottom-cancel:hover{
    cursor: pointer;
    text-decoration: underline;
}

button.removeFriends-modal-bottom-remove{
    background-color: #f04747;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 5px;
}

button.removeFriends-modal-bottom-remove:hover{
    cursor: pointer;
    background-color: #e63b3b;
}